$white-color: #ffffff;
$opacity_one: 1;
$align-center: center;
$letter-spacing-0: 0px;

header {
  margin: 90px 0 0 50px;
  img {
    width: 100px;
    height: 51px;
    opacity: $opacity_one;
  }
}
main {
  h1 {
    font-family: "Writable Story";
    font-weight: normal;
    font-style: normal;
    margin: 20px 0 0 368px;
    width: 630px;
    height: 117px;
    letter-spacing: $letter-spacing-0;
    color: $white-color;
    opacity: $opacity_one;
    text-align: $align-center;
    font-size: 70px;
  }
  section {
    margin: 28px 0 0 375px;
    p {
      font-family: "Brandon Grotesque";
      font-weight: normal;
      font-style: normal;
      width: 630px;
      height: 85px;
      font-size: 20px;
      padding: 15px;
      letter-spacing: $letter-spacing-0;
      text-align: $align-center;
      color: $white-color;
      opacity: $opacity_one;
    }
  }
}
